.list {
  display: block;
  list-style-type: none;
  padding: 0;
  > li {
    margin: .5rem 0;
  }

  &.list-horizontal {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);

      &#{$infix} {
        @include media-breakpoint-up($next) {
          list-style-type: none;
          padding: 0;
          width: 100%;
          margin: 0;
          > li {
            position: relative;
            display: inline;
            vertical-align: middle;
            ~ li:before {
              content: " ";
              margin: 0 .5rem;
              display: inline-block;
            }
          }

          &.list-horizontal-wide {
            > li {
              ~ li :after {
                margin: 0 1rem;
              }
            }
          }
        }
      }
    }
  }
}
