@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");

html {
  font-size: 14px;
}

body {
  background-color: $gray-100;

  &.has-fixed-navbar {
    padding-top: 6.2rem;
  }

  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;

  > main {
    flex: 1;
  }

  > footer {
    border-top: $dropdown-border-width solid $dropdown-border-color;
    margin-top: 2 * $spacer;
    padding: 1 * $spacer 0;
    font-size: 0.9rem;
  }
}

article, section {
  @extend .bg-white;
  border: $dropdown-border-width solid $dropdown-border-color;
  padding: $spacer;
  margin-bottom: 2 * $spacer;
  overflow: auto;
  @include border-radius($border-radius);

  p {
    text-align: justify;
  }
}

img {
  max-width: 100%;
}

.btn {
  transition: all 0.5s;
}
