.navbar {
  .navbar-brand {

    font-size: 1.5rem;
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;

    img {
      height: 1.4rem;
      display: inline;
      vertical-align: middle;
      margin-right: 4px;
      position: relative;
      top: -0.1em;
    }
  }

  .nav-link {
    padding-left: .5rem;
    padding-right: .5rem;
    transition: background-color 0.5s;
  }

  &.bg-white {
    .nav-link {
      &:hover, &:focus {
        background-color: $gray-300;
      }
    }
  }

  @each $color, $value in $theme-colors {
    &.bg-#{$color} {
      .nav-link {
        &:hover, &:focus {
          background-color: theme-color-level($color, 2);
        }
      }
    }
  }

  &.fixed-top {
    border-bottom: $dropdown-border-width solid $dropdown-border-color;
  }

  &.navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);

      &#{$infix} {
        @include media-breakpoint-up($next) {
          .nav-link {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
          }
        }
      }
    }
  }
}
