@charset "UTF-8";

// Based on: United 4.0.0 from Bootswatch

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #AEA79F !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #0e5bb2 !default;
$purple:  #772953 !default;
$pink:    #e83e8c !default;
$red:     #DF382C !default;
$orange:  #E95420 !default;
$yellow:  #EFB73E !default;
$green:   #38B44A !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $indigo !default;
$secondary:     $gray-400 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $purple !default;

// Body

$body-color:                $gray-800 !default;

// Fonts

$font-family-sans-serif:      "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       "Ubuntu Mono", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// Tables

$table-dark-bg:               $dark !default;
$table-dark-border-color:     darken($dark, 5%) !default;
$table-accent-bg:             rgba($black,.03) !default;

// border:

$border-radius:    0 !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;

// navbar

$navbar-light-color:                 $black !default;
$navbar-light-hover-color:           $black !default;
$navbar-light-active-color:          $gray-800 !default;
$navbar-light-disabled-color:        $gray-500 !default;
$navbar-padding-y: 0;

// dropdown

$dropdown-spacer: 0;
$dropdown-link-hover-bg: $gray-300;

// breadcrumb
$breadcrumb-divider:            "›" !default;
